@inherits LayoutComponentBase

<div class="page">
    <nav class="topbar">
        <span class="brand">ClaimFlow</span>
        <NavLink class="navlink" href="" Match="NavLinkMatch.All">Start</NavLink>
        <NavLink class="navlink" href="events">Events</NavLink>
        <NavLink class="navlink" href="metrics">Metrics</NavLink>
    </nav>
    <main>
        @Body
    </main>
</div>
